<%-include('partials/header') %>
<%-include('partials/navbar') %>

<div class="container mx-auto" style="outline: 1px solid black; margin: 30px 0;">
    <a class="btn btn-info" style="margin: 10px;" href="/crear">Crear publicacion</a>
</div>

<div class="container mx-auto" style="outline: 1px solid black; margin: 30px 0;">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Autor</th>
                <th>Titulo</th>
                <th>Fecha</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody id="admin-publicaciones">
            
        </tbody>
    </table>
</div>
<br><br><br>
<script src="/js/admin.js"></script>
<%-include('partials/footer') %>