<%-include('partials/header') %>
<%-include('partials/navbar') %>

<div class="container" style="margin-top: 50px;">
    <h1 class="text-black text-center" style="margin-top: 20px;">Publicaciones</h1>
    
    <div id="lista-publicaciones">

        
    </div>
</div>


<script src="/js/home.js"></script>
<%-include('partials/footer') %>